* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: fit-content;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filme { 
    width: 25vw;
    height: 30vh;
}